@import "../../styles/utils/variables";

.mainBanner__container {
  background-color: $color-blue;
  color: $color-white;
  .heroWrapper {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-top: 44px;
    align-items: flex-start;
    .heroContent {
      max-width: 60%;
      margin-top: 30px;
      .heroBadge {
        text-decoration: none;
        font-family: $font-light;
        font-size: 12px;
        padding: 6px 18px;
        background: rgba($color: #fff, $alpha: 0.5);
        border-radius: 16px;
        display: inline-block;
        margin-bottom: 16px;
      }
      .heroTitle {
        line-height: 1;
        margin-bottom: 32px;
      }
      .heroSubtitle {
        text-align: left;
        margin-bottom: 40px;
      }
      .heroLink {
        color: $color-white;
        padding: 6px 28px;
        background-color: $color-gold;
        text-align: center;
        text-decoration: none;
      }
    }
    .heroImg__wrapper {
      display: contents;
    }
    .heroImg {
      max-width: 40%;
      position: relative;
    }
    .heroImg::after {
      content: "";
      background: radial-gradient(
        closest-side,
        rgba(255, 255, 255, 0.8) 0%,
        rgba(220, 182, 90, 0) 100%
      );
      height: 200%;
      aspect-ratio: 1/1;
      position: absolute;
      left: 50%;
      top: 80%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }

  .customPagination {
    bottom: 32px !important;
    position: absolute;
    width: unset !important;
    left: unset !important;
    z-index: 10;
    .swiper-pagination-bullet {
      background: #fff;
    }
    .swiper-pagination-bullet-active {
      width: 32px;
      border-radius: 12px;
    }
  }
}

@media screen and (max-width: 880px) {
  .mainBanner__container .heroWrapper {
    flex-direction: column;
  }
  .mainBanner__container .heroWrapper .heroImg__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mainBanner__container .heroWrapper .heroContent {
    max-width: unset;
  }
}

@media screen and (max-width: 540px) {
  .mainBanner__container .heroWrapper .heroContent {
    margin-top: unset;
  }
  .mainBanner__container .heroWrapper {
    gap: 32px;
  }
  .mainBanner__container .heroWrapper .heroImg {
    max-width: unset;
  }
}
