@import "./../../styles/utils/_variables.scss";

.Error-Container {
  max-width: 1072px;
  margin: 0 auto;
  padding: 0 16px;
  padding-top: 120px;
  text-align: center;
  margin-bottom: 160px;
  .Error-Imgs {
    position: relative;
  }
  h2 {
    font-family: $font-bold;
    font-weight: 700;
    font-size: 48px;
    // line-height: 100%;
    // letter-spacing: 0%;
    text-align: center;
  }
  p {
    font-size: 15px;
  }
  .btn-main {
    margin-top: 62px;
  }
}

.Error-Four {
  margin-bottom: -50px;
}
