@use "../../styles/utils/variables" as *;

.container-About {
  max-width: 1072px;
  margin: 0 auto;
  padding: 0 16px;
  padding-top: 160px;
  .about-block {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    gap: 16px;
    .About-Info {
      width: 50%;
      .About-Descs {
        margin-bottom: 16px;

        .About-Desc {
          font-family: $font-regular;
          font-weight: 400;
          font-size: 18px;
          margin-bottom: 16px;

          p {
            text-align: none;
          }
        }
      }
    }
  }
}

.AboutPic-img {
  max-width: 40%;
}

@media screen and (max-width: 768px) {
  .container-About {
    margin: 0 auto;
    // padding: 0 68px;
    margin-top: 100px;
    .about-block {
      display: flex;
      flex-direction: column-reverse;
      .About-Info {
        margin-top: 48px;
        width: unset;
        .About-Descs {
          margin-bottom: 16px;

          .About-Desc {
            font-family: $font-regular;
            font-weight: 400;
            font-size: 18px;
            margin-bottom: 16px;
          }
        }
      }
      .AboutPic-img {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .AboutPic-img {
    max-width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .container-About {
    margin: 0 auto;
    margin-top: 100px;
    .about-block {
      display: flex;
      flex-direction: column-reverse;
      .About-Info {
        width: 100%;
        margin-top: 48px;
        .About-Descs {
          margin-bottom: 16px;
          // width: 500px;
          .About-Desc {
            font-family: $font-regular;
            font-weight: 400;
            font-size: 15px;
            margin-bottom: 16px;
          }
        }
      }
      .AboutPic-img {
        width: 532px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
